

<li class=main><a href="{{ pathBase }}/index.html">home</a></li>
<li class=main><a href="{{ pathBase }}/about.html">About</a></li>
<li class=main><a href="{{ pathBase }}/service/about.html">Services</a>
{% if page.id == 'service' %}
<ul>
<li><a href={{ pathBase }}/service/about.html >About Service</a></li>
<li><a href={{ pathBase }}/service/quickstart.html >Quick start</a></li>
<li><a href={{ pathBase }}/service/activation.html >Activation</a></li>
<li><a href={{ pathBase }}/service/usage.html >Usage</a></li>
<li><a href={{ pathBase }}/service/tools.html >Tools</a></li>
<li><a href={{ pathBase }}/service/restapi.html >REST API</a></li>
</ul>
{% endif %}</li>
<li class=main><a href="{{ pathBase }}/storage/about.html">Storage</a></li>
{% if page.id == 'storage' %}
<li><a href={{ pathBase }}/storage/about.html >About Storage</a></li>
<li><a href={{ pathBase }}/storage/quickstart.html >Quick start</a></li>
<li><a href={{ pathBase }}/storage/activation.html >Activation</a></li>
<li><a href={{ pathBase }}/storage/usage.html >Usage</a></li>
<li><a href={{ pathBase }}/storage/tools.html >Tools</a></li>
<li><a href={{ pathBase }}/storage/restapi.html >REST API</a></li>
{% endif %}
<li class=main><a href="{{ pathBase }}/application/about.html">Application</a></li>
{% if page.id == 'application' %}
<li><a href={{ pathBase }}/application/about.html >About Application</a></li>
<li><a href={{ pathBase }}/application/quickstart.html >Quick start</a></li>
<li><a href={{ pathBase }}/application/activation.html >Activation</a></li>
<li><a href={{ pathBase }}/application/usage.html >Usage</a></li>
<li><a href={{ pathBase }}/application/tools.html >Tools</a></li>
<li><a href={{ pathBase }}/application/restapi.html >REST API</a></li>
{% endif %}
<li class=main><a href="{{ pathBase }}/authentication/about.html">Access and Billing</a></li>
{% if page.id == 'access' %}
<li><a href={{ pathBase }}/authentication/about.html >About Access and Billing</a></li>
<li><a href={{ pathBase }}/authentication/quickstart.html >Quick start</a></li>
<li><a href={{ pathBase }}/authentication/activation.html >Activation</a></li>
<li><a href={{ pathBase }}/authentication/usage.html >Usage</a></li>
<li><a href={{ pathBase }}/authentication/tools.html >Tools</a></li>
<li><a href={{ pathBase }}/authentication/restapi.html >REST API</a></li>
{% endif %}

